<html>
    <head>
        <title>Registro</title>
    </head>

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <body>
 <style>body {
  background-image: url(../static/plazachaco.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
    <nav class="navbar navbar-dark bg-primary p-1">
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active text-white h4"  aria-current="page" href="/">Pagina Principal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white h4" href="/login">Iniciar Sesion</a>
  </li>
  </li>
</ul>
   <ul class="nav justify-content_end">
    <li class="nav-item" float="right">
    <img src="../static/2logochaco.png" alt="2logochaco.png" width="105" height="75" >
  </li>
</nav>
<h1 class="display-2 text-white m-3" align="center">Crear Usuario</h1>
    <div class="nav justify-content-md-center p-5">
      <div class="mb-3 col-lg-5">
         <form method="post">{% csrf_token %}
              <div class="mb-3" align="center">
                  <label for="username" class="form-label text-white h6">Nombre de Usuario</label>
                  <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
              </div>
              <div class="mb-3" align="center">
                  <label for="password1" class="form-label text-white h6">Contraseña</label>
                  <p class="9 text-white" >No debe contener ningun simbolo y como minimo 6 caracteres</p>
                  <input type="password" class="form-control" name="password1" id="password1">
              </div>
             <div class="mb-3" align="center">
                  <label for="password2" class="form-label text-white h6">Confirmar Contraseña</label>
                  <input type="password" class="form-control" name="password2" id="password2">
              </div>
             {% if form.errors %}
             <div class="alert alert-primary" role="alert">
                 Su contraseña no coincide. Por favor revise los datos ingresados e intente nuevamente.
             </div>
             {% endif %}
                <div align="center"><button type="submit" class="btn btn-primary">Registrarse</button></div>
         </form>
      </div>
    </div>

    </body>

</html>