<html>
    <head>
        <title>Editar</title>
    </head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<body>
<style>body {
  background-image: url(../static/trabajo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<nav class="navbar navbar-dark bg-primary p-1">
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active text-white h4"  aria-current="page" href="/">Pagina Principal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white h4" href="/juego/crear">Crear Preguntas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white h4"  aria-current="page" href="/juego/preguntas">Preguntas</a>
  </li>
</ul>
</nav>
<p class="h1 m-3" align="center">Editar Pregunta</p>

{% block body %}
   <div align="center"> <form method="POST" class="post-form">
        {% csrf_token %}
       <p class="h5 m-1"> {{ form.as_p }}</p>
        <button type="submit" class="btn btn-primary m-5">Guardar</button>
    </form></div>

{% endblock %}

</html>
