<html>
    <head>
        <meta charset="UTF-8">
        <title>Cuestionario</title>
    </head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <body>
 <style>body {
  background-image: url(../static/plazachaco.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<nav class="navbar navbar-dark bg-primary p-1">
    <ul class="nav justify-content_end">
  <li class="nav-item">
    <a class="nav-link active text-white h4"  aria-current="page" href="/">Pagina Principal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white h4" href="/juego/noticias" target="_blank">Info de Chaco</a>
  </li>
</ul>
    <ul class="nav justify-content_end">
    <li class="nav-item" float="right">
    <img src="../static/2logochaco.png" alt="2logochaco.png" width="105" height="75">
  </li>
</nav>

<p class="h1 m-3 text-white" align="center">Te recomendamos que te informes antes de jugar </p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="card">
      <img src="../static/chacoinfo.jpg" class="card-img-top" alt="chacoinfo.jpg">
      <div class="card-body">
        <h5 class="card-title" align="center">Provincialización del Chaco</h5>
        <p class="card-text" align="center">Vas a saber un poco más de la provincia para poder constestar las preguntas </p>
          <div align="center"><a href="/juego/noticias" target="_blank" class="btn btn-primary">Historia del Chaco</a></div>
      </div>
  </div>
    <div class="card">
      <img src="../static/chacopregunta.jpg" class="card-img-top" alt="chacopregunta.jpg">
      <div class="card-body">
        <h5 class="card-title" align="center">¡Vamos a Jugar!</h5>
          <p class="card-text" align="center">¡Ahora si, intenta contestar todas las preguntas!</p>
          <div align="center"><a href="/juego" class="btn btn-primary">Jugar</a></div>
      </div>
    </div>
  </div>
</div>




<footer class="footer mt-auto py-2 bg-light">
  <div class="container">
    <span class="text-muted">Proyecto Informatorio= Lirussi Gianluca-Josefina Soto-Cuevas Matias</span>
  </div>
</footer>
    </body>

</html>